.vscode/**
.vscode-test/**
out/tests/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.elint.json
**/tslint.json
**/*.map
**/*.ts
_archive/**
.github/**
test_static/**
gifs/**
